[Unit]
Description=Run Docker stack metrics exporter every 3 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=180s
AccuracySec=20s
Unit=docker-stack-metrics.service

[Install]
WantedBy=timers.target
